.card {
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3); 
  border: 0.14em solid #FFF;
}

ion-content {
	font-family: Georgia;
}
.no-vertical-padding {
	padding-top: 0;
	padding-bottom: 0;
}
.no-horizontal {
	padding-left: 0;
	padding-right: 0;
}
.no-padding {
	padding: 0;
}

/*----------------------------------------login.html----------------------------------------------*/
.iips-header {
	height: 90px;
	background-color: #125C9C;
}
.iips-footer {
	background-color: #125C9C;
}
.item-input {
	height: 45px;
	width: 250px;
}
.item .login-card {
	border-radius: 10px;
}
.login-card, .register-list {
	width: 250px;
	position: relative;
	top: 4.5em;
	border-color: rgb(221, 221, 221);
}
.text-calm {
	color: #11c1f3;
	font-style: Georgia;
	font-size: 16px;	
}
.login-card > .item-input input, .login-card > .item-select .input-label{
	    margin: -20px 0;
	    font-size: 14px;
	    font-family: Georgia;
}
.item-floating-label .input-label.has-input {
	top: -16px;
}
.sign-in-text {
	position: relative;
	top: 6em;
}

/*-----------------------------------Register.html------------------------------------------------*/
.register-input {
	height:35px;
	margin: 5px 3px;
	border-radius: 5px;
	font-family: Verdana;
}
.register-input:hover  {
	background-color: orange;
}
.register-input select, .login-card > .item-input select {
	padding: 0 5px 0;
}
.input-label {
	opacity:0.4;
	font-family: Verdana;
	font-size: 12px;
	color:gray;
}

/*-----------------------------------Quote.html---------------------------------------------------*/
.quote {
	height: 100%;
	width: 100%;
	-webkit-filter: blur(3px);
	  -moz-filter: blur(3px);
	  -o-filter: blur(3px);
	  -ms-filter: blur(3px);
	  filter: blur(3px) hue-rotate(355deg);
}

.quote-card {
	position: fixed;
	width: 75%;
	height: 15%;
	background-color: #FF667A;
	padding: 5px;
	color: #FFF;
	font-family: Georgia;
	border-color: #FF667A;
	box-shadow: 3px 3px 20px #32201A;
	margin-top: 40%;
}
.quote-corner {
	position: relative;
	right: -245px;
	bottom: 20px;
}

/*------------------------------------------tabs.html---------------------------------------------*/
.tabs {
	font-family: Georgia;
	font-size: 15px;
}
.tabs-striped.tabs-background-iips .tabs, .header-bar{
	background-color: #125C9C;
}
/*.tab-item-active, .tab-item.active, .tab-item.activated {
    color: red;
}*/
.active-icon {
	color: #FFD203;
}
.tab-item {
  color: white;
  opacity: 1;
}
.app-icon {
	height: 100%;
	width: 12%;
	position: relative;
}
.details-list-item {
	font-size: 12px;
}
.details-list {
	position: relative;
	top: 10px;
	height: 245px;
	padding: 0;
}
.class-info-bar {
	background-color: #ef473a;
	height: 15%;
	text-align: center;
	color: #FFF;
	border-color: rgb(178, 178, 178);
}
/*---------------------------------------tab-dash.html--------------------------------------------*/
.welcome-toast {
	background-color: #11c1f3;
	border-color: #11c1f3;
	color: #FFF;
	font-size: 16px;
	position: relative;
	margin-top: 40px;
	height: 40px;
}
.dash-card {
	height: 300px;
	position: relative;
	margin: 0;
    border: 0.15em solid rgba(17, 193, 243, 0.3);
}
.service-cards {
	height: 90px;
	color: #FFF;
}
.div-syllabus {
	background-color: #FF667A;
	border-color: #FF667A;
}
.div-schedule {
	background-color: #FFD426;
	border-color: #FFD426;
}
.div-syllabus, .div-schedule {
	font-size: 13px;
	text-align: center;
}
.ion-calendar, .ion-ios-book {
	font-size: 60px;
}

/*--------------------------------------tab-profile.html------------------------------------------*/
.bg-pic {
	background: url("../img/1600_sombrero_spitzer_galaxy.jpg");
	position: relative;
	top: 85px;
	height: 110px;
}
.display-pic {
	height: 80px;
	width: 80px;
	position: relative;
	bottom: -80px;
}
.profile-card {
	position: relative;
	top: 150px;
	width: 94%;
	height: 40%;
}
.pro-name, .pro-roll {
	color: #D45300;
	position: relative;
	top: 50px;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
}
.pro-roll {
	top: 50px;
	left: 85px;
	font-size: 13px;
	font-weight: normal;
}
.pull-right {
	position: relative;
	right: -235px;
	top: 30px;
}

/*-----------------------------------------schedule.html------------------------------------------*/
.list-item{
	padding: 0;
}
.subject-list-item {
	background-color: #FFD426;
	border-color: #FFF;
}
.subject-list-item .col{
	height: 60px;
	padding: 1em;
	color: #FFF;
}
.subject-list, .bar-schedule {
	margin: 0;
	border-color: #FFF;
}
.subject-list {
	padding: 0;
	position: relative;
	top: 40px;
	border-color: #11C1F3;
}
.bar-schedule {
	position: relative;
	top: 20px;
}