<ion-view view-title="Edit Profile">
<ion-content>

  <div class="row">
    <button class="col button button-clear button-small button-assertive icon ion-chevron-left" ng-click="goBack()">
    Go Back
    </button>
    <div class="col col-67"></div>
  </div>

  <div ng-controller="ProCtrl">
  <form id="editProfile" name="editProfile" novalidate="" ng-submit="saveChanges(editProfile)">
    <div class="row">

      <div class="col"></div>
    
      <div class="col list edit-list col-80">
    
        <label class="item item-input" ng-class="{'no-register-errors':editProfile.fullname.$valid}">

          <input name="fullname" type="text" ng-model="studentData.fullname" placeholder={{studentData.fullname}} ng-pattern="/^[a-zA-Z ]+$/">
        
        </label>

        <div class="error-container" ng-show="editProfile.fullname.$error" ng-messages="editProfile.fullname.$error">
        <div ng-messages-include="templates/form-error.html"></div>
        </div>

        <select class="item item-input item-select register-input empty" name="course" ng-model="studentData.course" ng-class="{'no-register-errors':editProfile.course.$valid}" required style="width:265px;">
          <option value="" selected disabled>Course</option>
          <option>MTech</option>
          <option>MCA(UG)</option>
          <option>MCA(PG)</option>
          <option>MBA(MS 5Yrs UG)</option>
          <option>MBA(MS 5Yrs PG)</option>
          <option>MBA(MS 2Yrs)</option>
          <option>MBA(APR)</option>
          <option>MBA(TA)</option>
          <option>B.Com</option>
        </select>

        <select class="item item-input item-select register-input empty" ng-class="{'no-register-errors':editProfile.sem.$valid}" name="sem" ng-model="studentData.sem" required style="width:265px;">
          <option value="" selected disabled>Semester</option>
          <option>I</option>
          <option>II</option>
          <option>III</option>
          <option>IV</option>
          <option>V</option>
          <option>VI</option>
          <option>VII</option>
          <option>VIII</option>
          <option>IX</option>
          <option>X</option>
          <option>XI</option>
          <option>XII</option>
        </select>
         
        <label class="item item-input register-input" ng-class="{'no-register-errors':editProfile.email.$valid}">
          <input name="email" type="email" ng-model="userData.email" placeholder="E-mail" required wc-unique="{property: 'email'}">
        </label>
 
        <div class="error-container" ng-show="editProfile.email.$error" ng-messages="editProfile.email.$error">
        <div ng-messages-include="templates/form-error.html"></div>
        </div>
    
        <center>
        <button class="button button-assertive button-login button-save" type="submit" ng-click="">Save</button>
        </center>


      </div>
    
      <div class="col"></div>
    
    </div>
  </form>
  </div>
</ion-content>