<ion-view view-title="Edit Profile">
<ion-content>

  <div class="row">
    <button class="col button button-clear button-small button-assertive icon ion-chevron-left" ng-click="goBack()">
    Go Back
    </button>
    <div class="col col-67"></div>
  </div>

  <div ng-controller="ProCtrl">
  <form id="editProfile" name="editProfile" novalidate="" ng-submit="saveChanges(editProfile)">
    <div class="row">

      <div class="col"></div>
    
      <div class="col list edit-list col-80">
    
        <label class="item item-input">
          <input name="fullname" type="text" ng-model="studentData.fullname" placeholder="{{studentData.fullname}}" ng-pattern="/^[a-zA-Z ]+$/" ng-focus="clearFromError()">
        
        </label>

        <div class="error-container" ng-show="editProfile.fullname.$error" ng-messages="editProfile.fullname.$error">
        <div ng-messages-include="templates/form-error.html"></div>
        </div>

        <select ng-change="refreshRequired(editProfile.course)" class="item item-input item-select empty" name="course" ng-model="studentData.CourseId" ng-class="{'no-register-errors':editProfile.course.$valid}" style="width:265px;">
        <option selected disabled>{{studentData.course}}</option>
        <option ng-repeat="course in courses" value={{course.id}}>{{course.courseName}}</option>
        </select>

        <div class="error-container" ng-show="editProfile.course.$error" ng-messages="editProfile.course.$error">
        <div ng-messages-include="templates/form-error.html"></div>
        </div>
 
        <select ng-focus="getSemester(editProfile.course)" ng-change="refreshRequired(editProfile.sem)" class="item item-input item-select register-input empty" ng-class="{'no-register-errors':editProfile.sem.$valid}" name="sem" ng-model="studentData.SemesterId" style="width:265px;">
          <option selected disabled>{{studentData.sem}}</option>
          <option ng-repeat="sem in semesters" value={{sem.id}}>{{sem.semNo}}</option>
        </select>

        <div class="error-container" ng-show="editProfile.sem.$error" ng-messages="editProfile.sem.$error">
        <div class="error" ng-message="semChanged">
          Please select semester too!
        </div>
        </div>
         
        <label class="item item-input">
          <input name="password" id="password" type="password" ng-model="studentData.password" placeholder="New Password" ng-minlength=4 ng-maxlength=20>
        </label>
 
        <div class="error-container" ng-show="editProfile.password.$error" ng-messages="editProfile.password.$error">
        <div ng-messages-include="templates/form-error.html"></div>
        </div>

        <label class="item item-input">
          <input name="verify" type="password" ng-model="studentData.verify" placeholder="Confirm Password" pw-check="studentData.password">
        </label>

        <div class="error-container" ng-show="editProfile.verify.$error" ng-messages="editProfile.verify.$error">
        <div ng-messages-include="templates/form-error.html"></div>
        </div>

        <center>
        <button class="button button-assertive button-login button-save" type="submit" ng-click="">Save</button>
        </center>

      </div>
    
      <div class="col"></div>
    
    </div>
  </form>
  </div>
</ion-content>