<ion-header-bar class="iips-header">
  <div class="col"></div>
  <img src="img/iips-logo.png" class="col col-50 col-center" height="80px">
  <div class="col"></div>
</ion-header-bar>

<ion-content>
  <form name="loginForm" id="loginForm" ng-if="forgotPass == false" novalidate="" ng-submit="login(loginForm)">

  <div class="row sign-in-text">
    <div class="col"></div>
    <i class="icon ion-log-in text-calm col-center"></i>
    <span class="text-calm col">Sign in here</span>
    <div class="col"></div>
  </div>

  <div class="col"></div>

  <div class="row">
    <div class="col col-10"></div>

    <div class="col list list-inset card login-card">
      <label class="item item-input-inset item-floating-label" ng-class="{'no-login-errors':loginForm.email.$valid}">

        <input name="email" type="text" ng-model="loginData.email" ng-focus="clearFormError()" placeholder="email" required>
      </label>

      <label class="item item-input-inset item-floating-label" ng-class="{'no-login-errors':loginForm.password.$valid}">
        <input name="password" type="password" ng-model="loginData.password" ng-focus="clearFormError()" placeholder="Password" required>
      </label>

      <div class="error-container" ng-show="loginForm.password.$error" ng-messages="loginForm.password.$error">
      <div class="error" ng-message="correctPassword">
        Invalid email or password
      </div>
      </div>

      <div class="error-container error" ng-show="formError">
        <div>Please enter credentials!</div>
      </div>

      <label class="item">
        <button class="button button-assertive button-full button-login" animation="slide-left-right" type="submit" ng-click="">Login</button>
      </label>
      <label style="padding:10px;">
        <button class="button button-small button-clear button-calm" ng-click="forgot()">Forgot password</button>
      </label>
    </div>
    
    <div class="col col-10"></div>
  </div>
  </form>

  <form name="forgotForm" id="forgotForm" ng-if="forgotPass == true" novalidate="" ng-submit="recover(forgotForm)">

  <div class="row sign-in-text forgot-text">
    <span class="button button-clear button-calm icon ion-arrow-left-c col col-30" ng-click = "backToLogin()">Go Back
    </span>
    <div class="col col-70"></div>
  </div>

  <div class="row">
    <div class="col col-10"></div>

    <div class="col card login-card">
      <label class="item item-floating-label" ng-if="getOTP == false" ng-class="{'no-login-errors':forgotForm.email.$valid}">
        <input name="email" type="email" ng-model="loginData.email" ng-focus="clearFormError()" placeholder="Enter your email id" required>
      </label>

      <div class="error-container" ng-show="forgotForm.email.$error" ng-messages="forgotForm.email.$error">
      <div class="error" ng-message="correctEmail">
        This email doesn't exist.
      </div>
      </div>

      <label class="item item-floating-label" ng-if="getOTP == true && recoverPass == false" ng-class="{'no-login-errors':forgotForm.email.$valid}">
        <input name="OTP" type="text" ng-model="loginData.OTP" ng-focus="clearFormError()" placeholder="Enter OTP" required>
        <span>If you don't receive the mail in 5 seconds, please go back and provide the email back!</span>
      </label>

      <div class="error-container" ng-show="forgotForm.OTP.$error" ng-messages="forgotForm.OTP.$error">
      <div class="error" ng-message="correctOTP">
        Invalid OTP
      </div>
      </div>

      <label class="item item-input register-input" ng-if="recoverPass == true" ng-class="{'no-login-errors':forgotForm.password.$valid}">
        <input name="password" id="password" type="password" ng-model="loginData.password" ng-focus="clearFormError()" placeholder="Password" required ng-minlength=4 ng-maxlength=20>
      </label>

      <div class="error-container" ng-show="forgotForm.password.$error" ng-messages="forgotForm.password.$error">
      <div ng-messages-include="templates/form-error.html"></div>
      </div>

      <label class="item item-input register-input" ng-if="recoverPass == true" ng-class="{'no-login-errors':forgotForm.verify.$valid}">
        <input name="verify" type="password" ng-model="loginData.verify" ng-focus="clearFormError()" placeholder="Confirm Password" pw-check="loginData.password" required>
      </label>

      <div class="error-container" ng-show="forgotForm.verify.$error" ng-messages="forgotForm.verify.$error">
      <div ng-messages-include="templates/form-error.html"></div>
      </div>

      <div class="error-container error" ng-show="formError">
        <div>Please enter valid input!</div>
      </div>

      <label class="item">      
        <center>
        <button class="button button-assertive button-login" animation="slide-left-right" type="submit" ng-click="">Submit</button>
        </center>
      </label>
    </div>

    <div class="col col-10"></div>
  </div>

  </form>

</ion-content>

<ion-footer-bar align-title="center" class="iips-footer">
  <div class="col"></div>
    <button class="button button-clear icon-right ion-arrow-right-c col col-40" ng-click="register()" style="color:#FFFFFF;">Register</button>
  <div class="col"></div>
</ion-footer-bar>