<ion-header-bar class="iips-header">
  <div class="col"></div>
  <img src="img/iips-logo.png" class="col col-50 col-center" height="80px">
  <div class="col"></div>
</ion-header-bar>

<ion-content>
  <div class="row sign-in-text">
    <div class="col"></div>
    <i class="icon ion-log-in text-calm col-center"></i>
    <span class="text-calm col col-50 col-center">Sign in here</span>
    <div class="col col-10"></div>
  </div>

  <form name="loginForm" id="loginForm" novalidate="" ng-submit="login(loginForm)">
  <div class="row">
    <div class="col col-10"></div>

    <div class="col list list-inset card login-card">
      <label class="item item-input-inset item-floating-label" ng-class="{'no-login-errors':loginForm.username.$valid}">

        <i class="error icon ion-alert assertive" ng-show="usernameError"></i>
        <input name="username" type="text" ng-model="loginData.username" placeholder="Username" required>
      </label>

      <label class="item item-input-inset item-floating-label" ng-class="{'no-login-errors':loginForm.password.$valid}">
        <i class="error icon ion-alert assertive" ng-show="passwordError"></i>
        <input name="password" type="password" ng-model="loginData.password" placeholder="Password" required>
      </label>

      <div class="error-container" ng-show="loginForm.password.$error" ng-messages="loginForm.password.$error">
      <div class="error" ng-message="correctPassword">
        Invalid username or password
      </div>
      </div>

      <label class="item">
        <button class="button button-assertive button-full button-login" animation="slide-left-right" type="submit" ng-click="">Login</button>
      </label>
      <label style="padding:10px;">
        <button class="button button-small button-clear button-calm" ng-click="">Forgot password</button>
      </label>
    </div>
    
    <div class="col col-10"></div>
  </div>
  </form>
</ion-content>

<ion-footer-bar align-title="center" class="iips-footer">
  <div class="col"></div>
    <button class="button button-clear icon-right ion-arrow-right-c col col-40" ng-click="register()" style="color:#FFFFFF;">Register</button>
  <div class="col"></div>
</ion-footer-bar>