<ion-header-bar class="iips-reg-header">
  <div class="col"></div>
    <img src="img/avatar.jpg" class="col col-50 col-center item-thumbnail-center upload-pic" height="138px" data-tap-disabled="true" ng-click="uploadPic()">
  <div class="col"></div>
</ion-header-bar>

<ion-content>

  <div class="row sign-in-text">
    <div class="col col-10"></div>
    <i class="button button-clear button-calm icon ion-arrow-left-c col col-10" ng-click = "backToLogin()">
    </i>
    <span class="text-calm col col-center" style="text-align:center;">Register here</span>
    <div class="col col-20"></div>
  </div>

  <div ng-controller="RegisterCtrl">
  <form id="registerForm" name="registerForm" novalidate="" ng-submit="register(registerForm)">
    <div class="row">

      <div class="col"></div>
    
      <div class="col list register-list col-80">
    
        <label class="item item-input register-input" ng-class="{'no-register-errors':registerForm.fullname.$valid}">

          <i class="error icon ion-alert assertive" ng-show="nameError"></i>
          <input name="fullname" type="text" ng-model="registerData.fullname" placeholder="Full Name" required ng-pattern="/^[a-zA-Z ]+$/">
        
        </label>

        <div class="error-container" ng-show="registerForm.fullname.$error" ng-messages="registerForm.fullname.$error">
        <div ng-messages-include="templates/form-error.html"></div>
        </div>

        <i class="error icon ion-alert assertive" ng-show="courseError"></i>
        <select class="item item-input item-select register-input empty" name="course" ng-model="registerData.course" ng-class="{'no-register-errors':registerForm.course.$valid}" required style="width:278px;">
          <option value="" selected disabled>Course</option>
          <option>MTech</option>
          <option>MCA(UG)</option>
          <option>MCA(PG)</option>
          <option>MBA(MS 5Yrs UG)</option>
          <option>MBA(MS 5Yrs PG)</option>
          <option>MBA(MS 2Yrs)</option>
          <option>MBA(APR)</option>
          <option>MBA(TA)</option>
          <option>B.Com</option>
        </select>

        <div class="error-container" ng-show="registerForm.course.$error" ng-messages="registerForm.course.$error">
        <div ng-messages-include="templates/form-error.html"></div>
        </div>

        <i class="error icon ion-alert assertive" ng-show="semError"></i>
        <select class="item item-input item-select register-input empty" ng-class="{'no-register-errors':registerForm.sem.$valid}" name="sem" ng-model="registerData.sem" required style="width:278px;">
          <option value="" selected disabled>Semester</option>
          <option>I</option>
          <option>II</option>
          <option>III</option>
          <option>IV</option>
          <option>V</option>
          <option>VI</option>
          <option>VII</option>
          <option>VIII</option>
          <option>IX</option>
          <option>X</option>
          <option>XI</option>
          <option>XII</option>
        </select>

        <div class="error-container" ng-show="registerForm.sem.$error" ng-messages="registerForm.sem.$error">
        <div ng-messages-include="templates/form-error.html"></div>
        </div>
    
        <label class="item item-input register-input" ng-class="{'no-register-errors':registerForm.roll.$valid}">
          <i class="error icon ion-alert assertive" ng-show="rollError"></i>
          <input name="roll" type="text" ng-model="registerData.rollno" placeholder="Roll No." required ng-pattern="/^[a-zA-Z]{2}-[0-9][a-zA-Z][0-9]{2}-[0-9]{1,3}$/">
        </label>

        <div class="error-container" ng-show="registerForm.roll.$error" ng-messages="registerForm.roll.$error">
        <div ng-messages-include="templates/form-error.html"></div>
        </div>
        
        <label class="item item-input register-input" ng-class="{'no-register-errors':registerForm.email.$valid}">
          <i class="error icon ion-alert assertive" ng-show="emailError"></i>
          <input name="email" type="email" ng-model="registerData.email" placeholder="E-mail" required>
        </label>
 
        <div class="error-container" ng-show="registerForm.email.$error" ng-messages="registerForm.email.$error">
        <div ng-messages-include="templates/form-error.html"></div>
        </div>

        <label class="item item-input register-input" ng-class="{'no-register-errors':registerForm.password.$valid}">
          <i class="error icon ion-alert assertive" ng-show="passwordError"></i>
          <input name="password" id="password" type="password" ng-model="registerData.password" placeholder="Password" required ng-minlength=4 ng-maxlength=20>
        </label>
 
        <div class="error-container" ng-show="registerForm.password.$error" ng-messages="registerForm.password.$error">
        <div ng-messages-include="templates/form-error.html"></div>
        </div>

        <label class="item item-input register-input" ng-class="{'no-register-errors':registerForm.verify.$valid}">
          <i class="error icon ion-alert assertive" ng-show="verifyError"></i>
          <input name="verify" type="password" ng-model="registerData.verify" placeholder="Confirm Password" pw-check="registerData.password" required>
        </label>

        <div class="error-container" ng-show="registerForm.verify.$error" ng-messages="registerForm.verify.$error">
        <div ng-messages-include="templates/form-error.html"></div>
        </div>

      </div>
    
      <div class="col"></div>
    
    </div>
  </form>
  </div>
</ion-content>

<ion-footer-bar align-title="center" class="iips-footer">
  <div class="col"></div>
    <button class="button button-clear icon ion-checkmark-circled col col-50 white" type="submit" form="registerForm" ng-click=""></button>
  <div class="col"></div>
</ion-footer-bar>