<ion-view view-title="Schedule">

<ion-content>
	<button class="col col-33 button button-clear button-calm icon ion-chevron-left" height="10px" ng-click="goBack()">
	Go Back
	</button>

	<font color="#ef473a">

	<div class="row no-vertical-padding">
		<div class="col"></div>
		<span class="button-large">{{studentData.course}}({{studentData.sem}})</span>
		<div class="col"></div>		
	</div>
	<div class="row">
		<div class="col"></div>
		<span>{{session}}</span>
		<div class="col"></div>		
	</div>
</font>
	<div class="row">
		
		<span class="card bar bar-schedule col">

			<div class="buttons">
				<button class="button button-icon white icon ion-arrow-left-b" style="padding:3px;" ng-click="previous(Day)"></button>
			</div>
		
			<h1 class="title white">{{Day}}</h1>

			<div class="buttons">
				<button class="button button-icon icon white ion-arrow-right-b" style="padding:0;" ng-click="next(Day)"></button>
			</div>
		
		</span>

	</div>


	<div class="row">

		<ion-list class="card subject-list col">

		  <ion-item ng-repeat="section in sections" class="list-item subject-list-item">

			  <div class="row no-padding">
				  <div class="col col-20" style="border-right:0.14em solid #FFF;">{{section.begin}}-{{section.end}}</div>
				  <div class="col col-25">{{section.subID}}:{{section.subCode}}</div>
				  <div class="col" style="border-left:0.14em solid #FFF;">{{section.faculty}}</div>
			  </div>	
		  </ion-item>
		
		</ion-list>
		
	</div>
</ion-content>

</ion-view>