<ion-view view-title="Schedule">

<ion-content>
	<button class="col col-33 button button-clear button-energized icon ion-chevron-left" ng-click="goBack()">
	Go Back
	</button>

	<div class="row">
		
		<div class="col"></div>

		<span class="card bar bar-calm bar-schedule col col-90">

			<div class="buttons">
				<button class="button button-icon icon ion-arrow-left-b" style="padding:3px;" ng-click="goBack()"></button>
			</div>
		
			<h1 class="title">Monday</h1>

			<div class="buttons">
				<button class="button button-icon icon ion-arrow-right-b" style="padding:0;" ng-click="goBack()"></button>
			</div>
		
		</span>

		<div class="col"></div>

	</div>


	<div class="row">
		<div class="col"></div>

		<ion-list class="card subject-list col col-90">

		  <ion-item ng-repeat="subject in subjects" class="list-item subject-list-item">

			  <div class="row" style="padding:0;">
				  <div class="col col-20" style="border-right:0.14em solid #FFF;">{{subject.id}}</div>
				  <div class="col col-33">{{subject.name}}</div>
				  <div class="col col-10">:</div>
				  <div class="col" style="border-left:0.14em solid #FFF;">{{subject.time}}</div>
					<div class="col col-10"></div>
			  </div>	
		  </ion-item>
		
		</ion-list>
		
		<div class="col"></div>
	</div>
</ion-content>

</ion-view>