<ion-view view-title="Submit Interva">
<ion-content>

  <button class="col col-33 button button-clear button-calm icon ion-chevron-left" ng-click="goBack()">
  </button>

  <div ng-controller="DataFormCtrl">
  <form id="dataForm" name="dataForm" novalidate="" ng-submit="submit(dataForm, 'TimeIntervals')">
    <div class="row">

      <div class="col"></div>
    
      <div class="col list register-list col-80">
    
        <label class="item item-input register-input">

          <input name="begin" type="time" ng-model="data.beginTime" placeholder="begin" required>
        
        </label>

        <label class="item item-input register-input">

          <input name="end" type="time" ng-model="data.endTime" placeholder="end" required>
        
        </label>

        <center>
        <button class="button button-assertive button-login button-save" type="submit" ng-click="">Save</button>
        </center>

      </div>
    
      <div class="col"></div>
    
    </div>
  </form>
  </div>
</ion-content>
</ion-view>