<ion-view view-title="Dashboard">
<div class="row">
  <div class="col"></div>
  <span class="welcome-toast card bar col col-80 col-center">Welcome swati-jaiswal!</span>
  <div class="col"></div>
</div>
  
  

  <ion-content>

  <div class="row">
  	<div class="col"></div>
  
    <div class="card dash-card col col-80 background-calm">
    
      <div class="row" style="margin-top:-60px;">
  		  <div class="col col-10"></div>

        <div class="col col-30 card service-cards div-syllabus" ng-click="openSyllabus()">
          <center><i class="ion-ios-book"></i></center>
          Syllabus
        </div>

        <div class="col col-10"></div>
      </div>

      <div class="row">
      
        <div class="col col-10"></div>

        <div class="col col-30 card service-cards div-schedule" ng-click="openSchedule()">
          <center><i class="ion-calendar"></i></center>
          Schedule
        </div>

        <div class="col col-10"></div>
    	</div>

    </div>

    <div class="col"></div>
  </div>

  </ion-content>
</ion-view>