<ion-header-bar class="header-bar">
	<img src="../img/ionic.png" class="app-icon">
	<button class="button button-clear pull-right icon ion-ios-information-outline calm" ng-click="showInfo()"></button>

	<!-- Details of the class on clicking info button -->
	<div class="row no-padding">

		<!-- <div class="col"></div> -->

		<div class="card details-list col col-100" ng-show="showClassDetails">

			<div class="class-info-bar">Class-Info</div>

			<ion-list>
				<ion-item ng-repeat="detail in classDetails" class="list-item details-list-item">
					<div class="row">
						<div class="col col-33">{{detail.name}}</div>
						<div class="col">:</div>
						<div class="col">{{detail.valZero}}</div>
						<div ng-if="typeof(detail.valOne) !== undefined" class="col col-75">({{detail.valOne}})</div>
						<div class="col"></div>
					</div>
				</ion-item>
			</ion-list>

		</div>

		<!-- <div class="col"></div> -->
	</div>

</ion-header-bar>

<!-- Tab bar -->
<ion-tabs class="tabs-striped tabs-icon-top tabs-background-iips tabs-color-light tabs-top">

	<!--Dashboard tab-->
	<ion-tab title="Dashboard" icon-on="ion-ios-keypad active-icon" icon-off="ion-ios-keypad-outline" href="#/tab/dash">
		<ion-nav-view name="tab-dash"></ion-nav-view>
	</ion-tab>

	<!-- Profile tab -->
	<ion-tab title="Profile" icon-on="ion-person active-icon" icon-off="ion-ios-person-outline" href="#/tab/profile">
		<ion-nav-view name="tab-profile" ng-click></ion-nav-view>
	</ion-tab>

</ion-tabs>

<!-- Logout footer -->
<ion-footer-bar class="iips-footer">
  <i class="icon ion-arrow-left-b col" style="font-size:25px; color:#FFF;"></i>
  <button class="button button-clear col col-center col-20" ng-click="logout()" style="color:#FFFFFF; font-family: Georgia;">Logout</button>
  <div class="col col-80"></div>
</ion-footer-bar>